/target
/wrowalk/target
/wrowalk_native/target
/wrowalk_android/java/.gradle
/wrowalk_android/java/local.properties
/wrowalk_android/java/.idea
/wrowalk_android/java/app/build
/wrowalk_android/java/app/src/main/jniLibs
/wrowalk_web/dist

# Path where `demo_native` stores the HTTP cache.
.cache

.DS_Store
